body:before {
    background-size: cover;
    background-attachment: fixed;
    /*background-image: url('images/background.jpg');*/
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
}

.top-search .search-col {
    text-align: right;
}

.mdl-card {
    margin: 0 auto;
}

.mdl-card__media {
    color: #fff;
}

.mdl-card__media.no-img {
    padding: 10px;
}

.mdl-card__media img {
    width: 100%;
    height: auto;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

.folder-links {
    padding-left: 0;
}

.folder-links .mdl-chip {
    width: 100%;
    box-sizing: border-box;
}

.folder-links li:not(:last-child) {
    margin-bottom: 10px;
}

.folder-links .mdl-chip__text {
    max-width: calc(100% - 32px);
    text-overflow: ellipsis;
    overflow: hidden;
}